body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.pro {
  text-decoration: underline;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento' ,cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat' ,sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat' ,sans-serif;
  color: #11999E;

}

p {
  line-height: 2;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  border-color: grey;
  margin: 100px auto;

}

.top {
  background-color: #FBF8F1;
  position: relative;
  padding-top: 100px;
}
.middle {
  margin: 100px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto ;
  text-align: left;

}


.computer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100px;
}

.chillie-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

a{
  color: #11999E;
  font-family: 'Montserrat' ,sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom {
  background-color: #66BFBF;
  padding: 30px 0 20px;
}

.intro {
  width: 20%;
  margin: auto;
}

.contact-message {
   width: 40%;
   margin: 40px auto 60px;
}

.bn {
  background: #184187;
  background-image: -webkit-linear-gradient(top, #184187, #2980b9);
  background-image: -moz-linear-gradient(top, #184187, #2980b9);
  background-image: -ms-linear-gradient(top, #184187, #2980b9);
  background-image: -o-linear-gradient(top, #184187, #2980b9);
  background-image: linear-gradient(to bottom, #184187, #2980b9);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Courier New;
  color: #e4eddf;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
